/* ------ Table of content ------

1. Variables
2. Fonts
   ++ Shabnam
3. Base styles
4. Components
	 ++ clr-secondary-a
   ++ clr-gray-a
	 ++ clr-gray-d
	 ++ bg-primary-a
	 ++ bg-secondary-a
	 ++ bg-black-a
	 ++ bg-black-b
	 ++ br-secondary-b
	 ++ br-gray-a
	 ++ br-gray-b
   ++ fs-xsmall
	 ++ fs-small
	 ++ btn-menu
	 ++ btn-dropdown
	 ++ btn-showcase
	 ++ btn-pricing-black
	 ++ btn-pricing-white
	 ++ btn-iframe
	 ++ btn-scroll
	 ++ obj-fit
	 ++ obj-left
	 ++ obj-right-70
	 ++ py-7
	 ++ pt-250px
	 ++ mt-6
	 ++ h-400px
	 ++ h-line
	 ++ close-menu
	 ++ section-title
	 ++ shadow-text-sm
5. Layout
	 ++ header
	 ++ logo
	 ++ navigation-menu
	 ++ dropdown
	 ++ showcase
	 ++ process
	 ++ quick-info
	 ++ trainers
	 ++ comments
	 ++ text-over-image
	 ++ location
	 ++ footer
	 ++ gallery
	 ++ container-header
	 ++ black-filter
6. Breakpoints
	 ++ small
	 ++ medium
	 ++ large
	 ++ x-large
	 ++ xx-large
7. Reduced-motion

------------------------------ */
/* ================
   Variables
================ */
:root {
	--clr-primary-a: hsl(0, 0%, 20%);
	--clr-secondary-a: hsl(356, 83%, 57%);
	--clr-gray-a: hsl(0, 0%, 77%);
	--clr-gray-b: hsl(0, 0%, 28%);
	--clr-gray-c: hsl(0, 0%, 37%);
	--clr-gray-d: hsl(0, 0%, 67%);
	--clr-black-a: hsl(0, 0%, 6%);
	--clr-black-b: hsl(0, 0%, 13%);
	--clr-black-filter-a: hsla(0, 0%, 0%, 0.45);
	--clr-black-filter-b: hsla(0, 0%, 0%, 0.4);
}

/* ===============
   Fonts
=============== */
/* ----- Shabnam ----- */
@font-face {
	font-family: "Shabnam";
	font-weight: 700;
	src: url(../fonts/Shabnam/Shabnam-Bold-FD.ttf);
}
@font-face {
	font-family: "Shabnam";
	font-weight: 300;
	src: url(../fonts/Shabnam/Shabnam-Light-FD.ttf);
}

/* ===============
   Base styles
=============== */
body {
	position: relative;
	font-family: "Shabnam", system-ui, -apple-system, "Segoe UI", Roboto,
		"Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	right: 0;
	overflow-x: hidden;
	transition: right 0.4s ease;
}
body.menu-open {
	right: -300px;
}

a {
	transition: color 0.25s ease-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

/* ===============
   Components
=============== */
/* ----- clr-secondary-a ----- */
.clr-secondary-a {
	color: var(--clr-secondary-a);
}

/* ----- clr-gray-a ----- */
.clr-gray-a {
	color: var(--clr-gray-a);
}

/* ----- clr-gray-d ----- */
.clr-gray-d {
	color: var(--clr-gray-d);
}

/* ----- clr-secondary-a ----- */
.clr-secondary-a {
	color: var(--clr-secondary-a);
}

/* ----- bg-primary-a ----- */
.bg-primary-a {
	background-color: var(--clr-primary-a) !important;
}

/* ----- bg-secondary-a ----- */
.bg-secondary-a {
	background-color: var(--clr-secondary-a) !important;
}

/* ----- bg-black-a ----- */
.bg-black-a {
	background-color: var(--clr-black-a) !important;
}

/* ----- bg-black-b ----- */
.bg-black-b {
	background-color: var(--clr-black-b) !important;
}

/* ----- br-secondary-b ----- */
.br-secondary-b {
	border-color: var(--clr-secondary-a) !important;
}

/* ----- br-gray-a ----- */
.br-gray-a {
	border-color: var(--bs-gray-700);
}
.br-gray-a:focus {
	border-color: var(--bs-gray-600);
}

/* ----- br-gray-b ----- */
.br-gray-b {
	border-color: var(--clr-gray-b) !important;
}

/* ----- fs-xsmall ----- */
.fs-xsmall {
	font-size: 0.75rem !important;
}

/* ----- fs-small ----- */
.fs-small {
	font-size: 0.85rem;
}

/* ----- btn-menu ----- */
.btn-menu {
	color: var(--bs-white);
	padding: 0;
	border: none;
	transition: color 0.25s ease-out;
}
.btn-menu:hover,
.btn-menu:focus,
.btn-menu:active,
.menu-open .open-menu {
	color: var(--clr-secondary-a) !important;
}

/* ----- btn-dropdown ----- */
.dropdown.active .btn-dropdown {
	color: var(--clr-secondary-a) !important;
}

/* ----- btn-showcase ----- */
.btn-showcase {
	color: var(--bs-white);
	border-color: #dc3545;
	background-color: #dc3545;
}
.btn-showcase:first-child:hover,
:not(.btn-check) + .btn-showcase:hover {
	color: #000;
	border-color: #f8f9fa;
	background-color: #f8f9fa;
}
.btn-check:checked + .btn-showcase,
.btn-showcase.active,
.btn-showcase.show,
.btn-showcase:first-child:active,
:not(.btn-check) + .btn-showcase:active {
	color: #000;
	border-color: #babbbc;
	background-color: #c6c7c8;
}
.btn-showcase:focus-visible {
	color: #000;
	outline: 0;
	border-color: #c6c7c8;
	background-color: #d3d4d5;
	box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
}
.btn-showcase:disabled,
.btn-showcase.disabled {
	color: var(--bs-white);
	border-color: #dc3545;
	background-color: #dc3545;
}

/* ----- btn-pricing-black ----- */
.btn-pricing-black {
	color: var(--clr-secondary-a);
	border-color: #141414;
	background-color: #141414;
}
.btn-pricing-black:first-child:hover,
:not(.btn-check) + .btn-pricing-black:hover {
	color: var(--bs-white);
	border-color: #b02a37;
	background-color: var(--clr-secondary-a);
}
.btn-check:checked + .btn-pricing-black,
.btn-pricing-black.active,
.btn-pricing-black.show,
.btn-pricing-black:first-child:active,
:not(.btn-check) + .btn-pricing-black:active {
	color: var(--bs-white);
	border-color: #a52834;
	background-color: #b02a37;
}
.btn-pricing-black:focus-visible {
	color: var(--bs-white);
	outline: 0;
	border-color: #b02a37;
	background-color: #bb2d3b;
	box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}
.btn-pricing-black:disabled,
.btn-pricing-black.disabled {
	color: var(--clr-secondary-a);
	border-color: #212529;
	background-color: #212529;
}

/* ----- btn-pricing-white ----- */
.btn-pricing-white {
	color: var(--clr-secondary-a);
	border-color: #f8f9fa;
	background-color: #f8f9fa;
}
.btn-pricing-white:first-child:hover,
:not(.btn-check) + .btn-pricing-white:hover {
	color: var(--bs-white);
	border-color: #212529;
	background-color: #212529;
}
.btn-check:checked + .btn-pricing-white,
.btn-pricing-white.active,
.btn-pricing-white.show,
.btn-pricing-white:first-child:active,
:not(.btn-check) + .btn-pricing-white:active {
	color: var(--bs-white);
	border-color: #373b3e;
	background-color: #4d5154;
}
.btn-pricing-white:focus-visible {
	color: var(--bs-white);
	outline: 0;
	border-color: #373b3e;
	background-color: #424649;
	box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}
.btn-pricing-white:disabled,
.btn-pricing-white.disabled {
	color: var(--clr-secondary-a);
	border-color: #f8f9fa;
	background-color: #f8f9fa;
}

/* ----- btn-iframe ----- */
.btn-iframe {
	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translateX(-50%);
}

/* ----- btn-scroll ----- */
.btn-scroll {
	position: fixed;
	bottom: 20px;
	left: 20px;
	padding: 7px 12px;
	z-index: 5;
	opacity: 0;
	visibility: hidden;
	border-color: transparent !important;
	background-color: hsl(219, 83%, 57%) !important;
	transition: visibility 0.25s ease-out, opacity 0.3s ease-out, left 0.4s ease;
}
.menu-open .btn-scroll {
	left: 320px;
}

.btn-scroll.show {
	opacity: 0.5;
	visibility: visible;
}
.btn-scroll.show:hover,
.btn-scroll.show:focus,
.btn-scroll.show:active {
	opacity: 1;
}

/* ----- obj-fit ----- */
.obj-fit {
	object-fit: cover;
}

/* ----- obj-left ----- */
.obj-left {
	object-position: left;
}

/* ----- obj-right-70 ----- */
.obj-right-70 {
	object-position: 70%;
}

/* ----- py-7 ----- */
.py-7 {
	padding-top: 5rem !important;
	padding-bottom: 5rem !important;
}

/* ----- pt-250px ----- */
.pt-250px {
	padding-top: 250px !important;
}

/* ----- mt-6 ----- */
.mt-6 {
	margin-top: 5rem !important;
}

/* ----- h-400px ----- */
.h-400px {
	height: 400px;
}

/* ----- h-line ----- */
.h-line {
	width: 50px;
	height: 2px;
	margin: 1.5rem auto;
	background-color: var(--clr-gray-c);
}

/* ----- close-menu ----- */
.close-menu {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	text-align: right;
	padding: 0.5rem 1.5rem;
}

/* ----- section-title ----- */
.section-title {
	font-size: 1.63rem;
}

/* ----- shadow-text-sm ----- */
.shadow-text-sm {
	text-shadow: 0 0.1rem rgba(0, 0, 0, 0.15) !important;
}

/* ===============
	 Layout
=============== */
/* ----- header ----- */
header a {
	color: var(--clr-gray-a);
}
header a:hover,
header a:focus {
	color: var(--clr-secondary-a);
}

header a i {
	font-size: 1rem;
}

/* ----- logo ----- */
.logo {
	transition: opacity 0.3s ease-out;
}
.logo:hover,
.logo:focus {
	opacity: 0.6;
}

.logo img {
	width: min(225px, 19vw);
	min-width: 150px;
	height: auto;
}

/* ----- navigation-menu ----- */
.navigation-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width: 300px;
	z-index: 99;
	padding-top: 5rem;
	transition: left 0.4s ease;
}
.menu-open .navigation-menu {
	left: 0;
}

.navigation-menu a {
	color: var(--bs-white);
	font-size: 0.88rem;
	text-decoration: none;
}
.navigation-menu a:hover,
.navigation-menu a:focus,
.navigation-menu a:active {
	color: var(--clr-secondary-a);
}

/* ----- dropdown ----- */
.dropdown-search {
	display: none;
}
.dropdown-content {
	position: absolute;
	top: 200%;
	left: 0;
	min-width: 260px;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	border-top: 3px solid var(--clr-secondary-a);
	transition: visibility 0.25s ease-out, opacity 0.3s ease-out;
}
.dropdown.active .dropdown-content {
	opacity: 1;
	visibility: visible;
}

/* ----- showcase ----- */
.showcase {
	height: calc(100vh - 76px);
	background: linear-gradient(
			var(--clr-black-filter-a),
			var(--clr-black-filter-b)
		),
		url(../images/main/showcase-bg.jpg) no-repeat 45% 10% / cover;
}

.showcase__title {
	font-size: 2.13rem;
}

.showcase__content {
	position: relative;
	top: 50%;
	transform: translateY(calc(-50% - 25px));
}

.showcase__description {
	max-width: 420px;
}

/* ----- process ----- */
.process__content {
	border-color: var(--clr-gray-b) !important;
	transition: box-shadow 0.3s ease-out;
}
.process__content:hover .process__icon {
	transform: scale(0.9);
}
.process__content:hover {
	box-shadow: none !important;
}

.process__icon {
	width: 82px;
	transition: transform 0.25s ease-out;
}

/* ----- quick-info ----- */
.quick-info .col-12 {
	border-bottom: 1px solid var(--clr-gray-b);
}
.quick-info .col-12:last-of-type {
	border-bottom: none;
}

/* ----- trainers ----- */
.trainers a {
	color: var(--bs-white);
	text-decoration: none;
}
.trainers a:hover,
.trainers a:focus {
	color: var(--clr-secondary-a);
}

/* ----- comments ----- */
.comments {
	background: linear-gradient(
			var(--clr-black-filter-a),
			var(--clr-black-filter-b)
		),
		url(../images/main/customers_comments-bg.jpg) no-repeat center/cover;
}

.comments__img {
	width: 100px;
	height: 100px;
	border: 3px solid var(--clr-secondary-a);
}

.comments__text {
	max-width: 690px;
}

/* ----- text-over-image ----- */
.text-over-image {
	background: linear-gradient(
			var(--clr-black-filter-a),
			var(--clr-black-filter-b)
		),
		url(../images/main/section_a-bg.jpg) no-repeat center/cover;
}

/* ----- location ----- */
.location {
	position: relative;
	height: 300px;
	line-height: 0;
	background: linear-gradient(
			var(--clr-black-filter-a),
			var(--clr-black-filter-b)
		),
		url(../images/location/hamyarwp.png) no-repeat center/cover;
}

.location iframe {
	width: 100%;
	height: 100%;
	border: none;
}

/* ----- footer ----- */
footer a {
	color: var(--bs-white);
	text-decoration: none;
}
footer a:hover,
footer a:focus {
	color: var(--clr-secondary-a);
}

/* ----- gallery ----- */
.gallery {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(2, 1fr);
}

.gallery img {
	height: min(150px, 27vw);
	min-height: 130px;
	transition: border-radius 0.25s ease-out;
}
.gallery img:hover,
.gallery img:focus {
	border-top-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

/* ----- container-header ----- */
.container-header {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	margin: 0 auto;
}

/* ----- black-filter ----- */
.black-filter {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease-out;
	background-color: rgba(0, 0, 0, 0.4);
}
.menu-open .black-filter {
	opacity: 1;
	visibility: visible;
}

/* ===============
	 Breakpoints
=============== */
/* ----- small ----- */
@media screen and (min-width: 576px) {
	.showcase__title {
		font-size: min(4.38rem, 6vw);
	}

	.section-title {
		font-size: min(2.5rem, 4.5vw);
	}

	.quick-info .col-12:first-of-type,
	.quick-info .col-12:nth-of-type(3),
	.quick-info .col-12:last-of-type {
		border-left: 1px solid var(--clr-gray-b);
	}

	.gallery {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* ----- medium ----- */
@media screen and (min-width: 768px) {
	.showcase {
		height: calc(100vh - 34px);
	}

	.gallery img {
		height: min(142px, 15vw);
		min-height: 105px;
	}
}

/* ----- large ----- */
@media screen and (min-width: 992px) {
	.navigation-menu {
		position: static;
		width: initial;
		background-color: transparent !important;
	}

	.open-menu,
	.close-menu {
		display: none;
	}

	.dropdown-search {
		display: block;
	}

	.quick-info .col-12 {
		border-bottom: none;
	}
	.quick-info .col-12:nth-of-type(2),
	.quick-info .col-12:nth-of-type(4) {
		border-left: 1px solid var(--clr-gray-b);
	}
	.quick-info .col-12:last-of-type {
		border-left: none;
	}

	.gallery img {
		height: min(95px, 6.8vw);
		min-height: 65px;
	}
}

/* ----- x-large ----- */
@media screen and (min-width: 1200px) {
	.container-header {
		max-width: 1156px;
	}
}

/* ----- xx-large ----- */
@media screen and (min-width: 1400px) {
	.container-header {
		max-width: 1336px;
	}
}

/* ===============
	 Reduced-motion
=============== */
@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-duration: 0s !important;
		transition-delay: 0s !important;
	}
}