/* ------ Table of content ------

1. Variables
2. Fonts
   ++ Shabnam
3. Base styles
4. Components
   ++ clr-gray
   ++ clr-secondary
	 ++ bg-black-a
	 ++ bg-primary-a
	 ++ bg-secondary-a
   ++ fs-xsmall
	 ++ btn-menu
	 ++ close-menu
	 ++ btn-dropdown
	 ++ dropdown-search
	 ++ form-search
	 ++ btn-red
	 ++ section-title
5. Layout
	 ++ header
	 ++ logo
	 ++ navigation-menu
	 ++ dropdown-content
	 ++ black-filter
	 ++ showcase
	 ++ process
	 ++ quick-info
6. Breakpoints
	 ++ sm
	 ++ md
	 ++ lg

------------------------------ */
/* ================
   Variables
================ */
:root {
	--clr-primary-a: #333;
	--clr-secondary: #cf2e2e;
	--clr-gray-a: #c4c4c4;
	--clr-gray-b: #484848;
	--clr-black-a: #0f0f0f;
}

/* ===============
   Fonts
=============== */
/* ----- Shabnam ----- */
@font-face {
	font-family: "Shabnam";
	font-weight: 700;
	src: url(../fonts/Shabnam/Shabnam-Bold-FD.ttf);
}
@font-face {
	font-family: "Shabnam";
	font-weight: 300;
	src: url(../fonts/Shabnam/Shabnam-Light-FD.ttf);
}

/* ===============
   Base styles
=============== */
body {
	position: relative;
	font-family: "Shabnam", system-ui, -apple-system, "Segoe UI", Roboto,
		"Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	right: 0;
	overflow-x: hidden;
	transition: right 0.4s ease;
}
body.menu-open {
	right: -300px;
}

a {
	transition: color 0.25s ease-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

/* ===============
   Components
=============== */
/* ----- clr-gray ----- */
.clr-gray {
	color: var(--clr-gray-a);
}

/* ----- clr-secondary ----- */
.clr-secondary {
	color: var(--clr-secondary);
}

/* ----- bg-black-a ----- */
.bg-black-a {
	background-color: var(--clr-black-a) !important;
}

/* ----- bg-primary-a ----- */
.bg-primary-a {
	background-color: var(--clr-primary-a) !important;
}

/* ----- bg-secondary-a ----- */
.bg-secondary-a {
	background-color: var(--clr-secondary);
}

/* ----- fs-xsmall ----- */
.fs-xsmall {
	font-size: 0.75rem !important;
}

/* ----- btn-menu ----- */
.btn-menu {
	color: var(--bs-white);
	padding: 0;
	border: none;
	transition: color 0.25s ease-out;
}
.btn-menu:hover,
.btn-menu:focus,
.menu-open .open-menu {
	color: var(--clr-secondary) !important;
}

/* ----- close-menu ----- */
.close-menu {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	text-align: right;
	padding: 0.5rem 1.5rem;
}

/* ----- btn-dropdown ----- */
.dropdown.active .btn-dropdown {
	color: var(--clr-secondary) !important;
}

/* ----- dropdown-search ----- */
.dropdown-search {
	display: none;
}

/* ----- form-search ----- */
.form-search {
	border-color: var(--bs-gray-700);
}
.form-search:focus {
	border-color: var(--bs-gray-600);
}

/* ----- btn-red ----- */
.btn-red {
	color: var(--bs-white);
	border-color: #dc3545;
	background-color: #dc3545;
}
.btn-red:first-child:hover,
:not(.btn-check) + .btn-red:hover {
	color: #dc3545;
	border-color: #b02a37;
	background-color: var(--bs-white);
}
.btn-check:checked + .btn-red,
.btn-red.active,
.btn-red.show,
.btn-red:first-child:active,
:not(.btn-check) + .btn-red:active {
	color: #aa0010;
	border-color: #a52834;
	background-color: #c6c7c8;
}
.btn-red:focus-visible {
	color: #aa0010;
	outline: 0;
	border-color: #b02a37;
	background-color: #d3d4d5;
	box-shadow: 0 0 0 0.25rem rgba(255, 83, 97, 0.5);
}
.btn-red:disabled,
.btn-red.disabled {
	color: var(--bs-white);
	border-color: #dc3545;
	background-color: #dc3545;
}

/* ----- section-title ----- */
.section-title {
	font-size: 1.63rem;
}

/* ===============
	 Layout
=============== */
/* ----- header ----- */
header a:hover,
header a:focus {
	color: var(--clr-secondary);
}

/* ----- logo ----- */
.logo {
	transition: opacity 0.3s ease-out;
}
.logo:hover,
.logo:focus {
	opacity: 0.6;
}

.logo img {
	width: min(225px, 19vw);
	min-width: 150px;
	height: auto;
}

/* ----- navigation-menu ----- */
.navigation-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width: 300px;
	z-index: 99;
	padding-top: 4rem;
	transition: left 0.4s ease;
}
.menu-open .navigation-menu {
	left: 0;
}

.navigation-menu a {
	color: var(--bs-white);
	font-size: 0.88rem;
	text-decoration: none;
}
.navigation-menu a:hover,
.navigation-menu a:focus {
	color: var(--clr-secondary);
}

/* ----- dropdown-content ----- */
.dropdown-content {
	position: absolute;
	top: 200%;
	left: 0;
	min-width: 260px;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	border-top: 3px solid var(--clr-secondary);
	transition: visibility 0.25s ease-out, opacity 0.3s ease-out;
}
.dropdown.active .dropdown-content {
	opacity: 1;
	visibility: visible;
}

/* ----- black-filter ----- */
.black-filter {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease-out;
	background-color: rgba(0, 0, 0, 0.4);
}
.menu-open .black-filter {
	opacity: 1;
	visibility: visible;
}

/* ----- showcase ----- */
.showcase {
	height: calc(100vh - 82px);
	background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.5)),
		url(../images/main/showcase-bg.jpg) no-repeat 45% 10% / cover;
}

.showcase__title {
	font-size: 2.13rem;
}

.showcase__content {
	position: relative;
	top: 50%;
	transform: translateY(calc(-50% - 25px));
}

.showcase__description {
	max-width: 420px;
	margin: 0 auto 1.5rem auto;
}

/* ----- process ----- */
.process__content {
	border-color: var(--clr-gray-b) !important;
	transition: box-shadow 0.3s ease-out;
}
.process__content:hover .process__icon {
	transform: scale(0.9);
}
.process__content:hover {
	box-shadow: none !important;
}

.process__icon {
	width: 82px;
	transition: transform 0.25s ease-out;
}

/* ----- quick-info ----- */
.quick-info .col-12 {
	border-bottom: 1px solid var(--clr-gray-b);
}
.quick-info .col-12:last-of-type {
	border-bottom: none;
}

/* ===============
	 Breakpoints
=============== */
/* ----- sm ----- */
@media screen and (min-width: 576px) {
	.showcase__title {
		font-size: min(4.38rem, 6vw);
	}

	.section-title {
		font-size: min(2.5rem, 4.5vw);
	}

	.quick-info .col-12:first-of-type,
	.quick-info .col-12:nth-of-type(3),
	.quick-info .col-12:last-of-type {
		border-left: 1px solid var(--clr-gray-b);
	}
}
/* ----- md ----- */
@media screen and (min-width: 768px) {
	.showcase {
		height: calc(100vh - 40px);
	}
}
/* ----- lg ----- */
@media screen and (min-width: 992px) {
	.navigation-menu {
		position: static;
		width: initial;
		background-color: transparent !important;
	}

	.open-menu,
	.close-menu {
		display: none;
	}

	.dropdown-search {
		display: block;
	}

	.quick-info .col-12 {
		border-bottom: none;
	}
	.quick-info .col-12:nth-of-type(2),
	.quick-info .col-12:nth-of-type(4) {
		border-left: 1px solid var(--clr-gray-b);
	}
	.quick-info .col-12:last-of-type {
		border-left: none;
	}
}
