<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="James Alderson">
  <meta name="description" content="Bodybuilding club for athletes and professional training for all disciplines.">

  <title>باشگاه بدنسازی مگا</title>
  <!-- Favicons -->
  <link rel="apple-touch-icon" href="src/images/favicon/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="src/images/favicon/favicon-32x32.png" type="image/png" sizes="32x32">
  <link rel="icon" href="src/images/favicon/favicon-16x16.png" type="image/png" sizes="16x16">
  <link rel="manifest" href="src/images/favicon/site.webmanifest">
</head>
<body>
  
</body>
</html>